@import url('https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker');

body {
background-color: #f2f2f2;
margin: 0;
font-family: 'Open Sans', sans-serif;
}

/*
* {
  outline: 1px dotted red;
}
*/

.header {
  background-color: rgba(255, 255, 255, 0.5);
  height: 80px;
  border-bottom: 3px solid #2b2b2b;
}

.nav {
max-width: 960px;
margin-left: auto;
margin-right: auto;
color: white;
}


.logo {
float: left;
font-size: 3rem;
margin-top: 10px;
color: #2b2b2b;
font-family: 'Permanent Marker', cursive;
}

.logo a {
 color: black;
 text-decoration: none;
}

.links {
  float: left;
  margin-top: 30px;
  margin-left: 100px;
  font-size: 1.2rem;
  color: #F16C65;
}

.links a {
  color: black;
  text-decoration: none;
  padding: 0 10px;
}

.banner {
  background-color: #F16C65;
  text-align: right;
  padding: 40px 0;
}

.profilecontainer {
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 30%;
}

.profileinfo {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.profileimage {
  float: left;
  padding-right: 30px;
}

.portfolio1 {
  padding-top: 40px;
  max-width: 1700px;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #2b2b2b;
  text-align: center;

}

.portfolio2 {
  padding-top: 40px;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  color: #2b2b2b;
  text-align: center;

}

.portfoliocontainer {
float: left;
}

.portfolio1 img {
  height: 20rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: auto;
  float: center;
}

.portfolio2 img {
  height: 15rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: auto;
  float: center;
}

.portfoliotitle {
  margin: 20px;
  float: center;
}

.aboutcontainer {
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 5%;
}

.aboutcontainer img {
float:left;
padding-right: 30px;
}

.contactcontainer {
   margin: auto;
   padding: 20px 40px;
   background-color: rgba(0, 0, 0, 0.8);
   margin-top: 5%;
}

.contactinfo {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.contactinfo img {
vertical-align: middle;
  margin: auto;
  padding-right: 30px;
}

.contactinfo a {
  text-decoration: none;
  color: white;

}

a:hover {
  color: #F16C65;
}

@media screen and (max-width: 610px) {
  .logo {
    float: none;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
  }

  .links {
    float: none;
    margin-top: 10px;
    text-align: center;
  }
}
